{
    "presets": ["react-app"],
    "plugins": [
        "syntax-dynamic-import",
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        "lodash",
        [
            "import",
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css"
            }
        ]
    ]
}
