.re-box {
    color: #666;
    text-align: center;

    header {
        padding: 20px;
        background-color: #222;

        img {
            height: 80px;
            animation: App-logo-spin infinite 20s linear;
        }

        h1 {
            font-size: 1.5em;
            color: #fff;
        }

        a {
            color: #fff;
        }
    }

    .link {
        color: #1890ff;
        text-decoration: underline;
    }

    .package-list {
        padding: 10px;
        margin-top: 40px;

        ul {
            margin-top: 15px;

            li {
                margin: 10px;
                font-size: 16px;
            }
        }
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
